.conteiner{
    background-color: darkblue;
    padding: 10px;
    
    
}
.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    
}
.social_list li {
    margin: 0 1em;
    
}
.social_list svg {
    
    
    color: white;
    font-size: 2em ;
    cursor: pointer;
    
}