.list {
    display: flex;
    background-color: darkblue;
    padding: 15px;
    margin: 0;
    
    list-style: none;
}
.item {
    margin-right: 1em;
    text-decoration: none;
}
.li {
    text-decoration: none;
    background-color: darkblue;
    padding: 10px;
    border-radius: 16px;
    color: white;
    transition: all .5s;
}
.li:hover{
    color: darkblue;
    background-color: white;
    
    

}